* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: #b7cadf
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgb(231, 235, 239);
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px 5px rgba(25, 25, 25, 0.7);
    z-index: 10;
}

ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

ul li .norm{
    display: block;
    font-size: 20px;
    font-family: "Times New Roman";
    color: #1e1e1e;
    padding: 0 15px;
}

ul li .norm:hover{
    color:#424f53;
    font-size: 23px;
}

ul li .home {
    font-size: 50px;
    font-family: "Roboto";
    padding: 0 40px;
    font-weight: bold;
    color:#1e1e1e
}


.amalie {
    width: 95%;
    min-width: 20%;
    height: auto;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    padding-top: 5%;
}

.bgcolor {
    background-color: #1F2854;
    /* box-shadow: 3px 5px 10px 5px rgba(25, 25, 25, 0.7); */
}

.text-background {
    background-size: 750px;
    background-attachment: fixed;
    background-image: url(/images/binary.jpg);
}

.grid-container {
    display: grid;
    row-gap: 50px;
    padding: 20px;

}

.grid-item {
    padding: 20px;
    background-color: #e3e6eb;
    margin: 0 150px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px 0;
    max-width: 1180px;
}

h1 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
}