/* Markerer alle elementer i siden*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #b7cadf
}

/*Opbygging av Nav baren*/
nav {
    width: 100%;
    height: 100px;
    background-color: rgb(235, 239, 242);
    position: fixed;
    top: 0;
    box-shadow: 0 1px 10px 2px rgba(25, 25, 25, 0.5);
    z-index: 10;
}

ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

ul li .norm{
    display: block;
    font-size: 20px;
    font-family: "Times New Roman";
    color: #1e1e1e;
    padding: 0 15px;
    transition: font-size 0.4s;
}

ul li .norm:hover{
    color:#424f53;
    font-size: 22px;
}

ul li .home {
    display: block;
    font-size: 50px;
    font-family: "Roboto";
    padding: 0 40px;
    font-weight: bold;
    color:#1e1e1e;
    transition: font-size 0.4s;
}

ul li .home:hover{
    font-size: 60px;
}

/*Noen elementer går under navbaren på toppen uten denne. Finnes en bedre løsning, men denne virker for nå*/
.empty {
    margin: 40px 0;
}

/*Kode for det store bildet*/
.amalie {
    width: 95%;
    min-width: 20%;
    height: auto;
    display: block;
    /* margin-left: auto;  
    margin-right: auto; */  /*Kode i komentarer er ting jeg har prøvd, og enten brukt en annen metode, eller fjernet*/
    margin: 0 auto;
}

/*Kode for bakgrunnen til bildet*/
.bgcolor {
    background-color: #1F2854;
    /* box-shadow: 3px 5px 10px 5px rgba(25, 25, 25, 0.7); */
}

/*Grid bakgrunn*/
.text-background {
    background-size: 750px;
    background-attachment: fixed;
    /* background-image: url(/images/binary.jpg); */ /* Bilde fra internett, brukt som inspirasjon. Blir tatt vekk senere*/
}
/*Grid*/
.grid-container {
    display: grid;
    row-gap: 50px;
    padding: 20px;
}

.grid-item {
    padding: 20px;
    background-color: rgb(235, 239, 242);
    margin: 0 125px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px 0;
    max-width: 1180px;
    border-radius: 4px;
}

.grid-media {
    padding: 10px;
    background-color: rgb(235, 239, 242);
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px 0;
    max-width: 1180px;
    border-radius: 4px;
}

h1 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
}
/*Media Bilder setup*/
.row ::after {
    content: "";
    display: table;
    clear: both;
} 

/*CSS for øvelsene*/
.ove {
    float: left;
    width: 50%;
    padding: 5px;
}

/*CSS for historie bildene*/
.his {
    float: left;
    width: 25%;
    padding: 5px;
}

.a:active,.a:hover{
    font-size: 20px;
}